#university-name {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}

/* Get Started Section */
.section-logo {
    background-image: linear-gradient(to top, #5937f6, #9318fa);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.get-started-button {
    background-image: linear-gradient(to right, #5937f6, #9318fa);
}
.get-started-button:hover {
    background-image: linear-gradient(to right, #481fff, #9009ff);
    cursor: pointer;
}

#main-display {
    background-image: linear-gradient(to right, #5937f6, #9318fa);
}

.semester-add-btn:hover {
    background-image: linear-gradient(to right, #5937f6, #9318fa);
    color: white;
    cursor: pointer;
    border-style: dashed;
    border-color: white
}

.del-btn:hover {
    cursor: pointer;
}

/* feature section */

/*Extra Small Devices */
@media (max-width: 480px) {
    #university-logo {
        height: 80px;
    }
    #university-name {
        font-size: 18px;
    }
    #nav-description {
        font-size: 16px;
    }
    .section-description {
        width: 80%;
        margin: 20px auto;
    }
    .get-started-button {
        padding: 10px 15px;
        font-size: 1rem;
        margin-top: 5px;
    }
    
    /* Feature Section */
    .feature-boxes {
        text-align: center;
    }
    .calculator-icon {
        margin: auto;
    }

    /* home btn main page */
    #home-btn {
        margin-right: 0px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .section-description {
        width: 80%;
        margin: 20px auto;
    }
    .get-started-button {
        padding: 12px 16px;
        font-size: 1rem;
        margin-top: 5px;
    }
    .feature-boxes {
        text-align: center;
    }
    .calculator-icon {
        margin: auto;
    }

    /* home btn main page */
    #home-btn {
        margin-right: 0px;
    }


}

/* Small Devices */


/* Main.css */
#home-btn {
    border: 1px solid #E5E5E5;
}
#home-btn:hover {
    cursor: pointer;
    background-color: #e9ebef;
}

