#university-name {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}

/* Get Started Section */
.section-logo {
    background-image: linear-gradient(to top, #5937f6, #9318fa);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.get-started-button {
    background-image: linear-gradient(to right, #5937f6, #9318fa);
}
.get-started-button:hover {
    background-image: linear-gradient(to right, #481fff, #9009ff);
    cursor: pointer;
}

/* feature section */
.calculator-icon {
    background-color: #e0e7ff;
}

/*Extra Small Devices */
@media (max-width: 480px) {
    #university-logo {
        height: 80px;
    }
    #university-name {
        font-size: 18px;
    }
    #nav-description {
        font-size: 16px;
    }
    .section-description {
        width: 80%;
        margin: 20px auto;
    }
    .get-started-button {
        padding: 10px 15px;
        font-size: 1rem;
        margin-top: 5px;
    }
    
    /* Feature Section */
    .feature-boxes {
        text-align: center;
    }
    .calculator-icon {
        margin: auto;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .section-description {
        width: 80%;
        margin: 20px auto;
    }
    .get-started-button {
        padding: 12px 16px;
        font-size: 1rem;
        margin-top: 5px;
    }
    .feature-boxes {
        text-align: center;
    }
    .calculator-icon {
        margin: auto;
    }

}

/* Small Devices */